<div class="container my-4">
  <div class="row text-center mb-3">
    <div class="col">
      <%= link_to 'Информация об авторе', pages_maintainer_info_path, class: 'btn btn-outline-primary' %>
    </div>
    <div class="col">
      <%= link_to 'Все запросы', queries_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <%= link_to 'Таблица Студенты', students_path, class: 'btn btn-success' %>
  </div>
</div>
