<div class="container">
  <div class="d-flex">
    <%= link_to 'Информация об авторе', pages_maintainer_info_path %>

  </div>
  <hr>
  <div class="d-flex">
    <%= link_to 'Таблица Студенты', students_path %>

  </div>
</div>