.container.my-4
  .row.text-center.mb-3
    .col
      = link_to 'Информация об авторе', pages_maintainer_info_path, class: 'btn btn-outline-primary'
    .col
      = link_to 'Все запросы', queries_path, class: 'btn btn-outline-primary'
  hr
  .text-center
    = link_to 'Таблица Студенты', students_path, class: 'btn btn-success'